<mat-card class="example-card">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem provident perferendis sint perspiciatis corrupti qui iure vitae non. Consectetur voluptas incidunt a, ratione saepe dignissimos. Dolor architecto obcaecati quod iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem culpa illum corporis magni, tenetur aut architecto quaerat beatae molestias laborum accusantium aspernatur veniam minima eligendi suscipit officia esse distinctio asperiores.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>