/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-overlay-pane {
    position: absolute !important;
    margin-bottom: 350px !important
}

.mat-snack-bar-container {
    transform: scale(1);
    opacity: 1;
    position: absolute;
    top: -232px !important;
    left: -196px !important;
}